body{
    margin-left: 20px;
}
p{
    text-align: center;
}
.satauri{
    color: #8E26C0;
    padding-left: 300px;
}
.container1{
    background-color: #FFE8E8;
    display: inline-block;
    color: #FF0000;
    padding-left: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.container2{
    color: #85647B;
    border: 2px solid;
    border-image: linear-gradient(to left, #bf1573, #00c76d, #0055ff, #8057d9) 1;
    display: inline-block;
    padding-left: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.sec2{
    width: 350px;
}
.container3{
    color: #414651;
    background-color: #FFE8E8;
    display: inline-block;
    padding-left: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
}
.sec3{
    width: 440px;
}
.procent{
    color: #FF4405;
}

.container4{
    color: #0064CE;
    display: inline-block;
    border: solid #3538CD;
}
.section4{
        padding-left: 45px;
        padding-right: 20px;
        display: inline-block;
}
.discount{
    width: 280px;
    padding-top: 40px;
}