body{
    margin-left: 32px;
}
.satauri{
    color: #8E26C0;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    line-height: 84.48px;
}
.container1{
    max-width: 565px;
    max-height: 86px;
    text-align: center;
    padding: 24px 40px;
    background-color: #FFE8E8;
    display: inline-block;
    color: #FF0000;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;
}
.container2{
    max-width: 1023px;
    color: #85647B;
    border-top:4px solid #00c76d;
    border-left:4px solid #bf1573;
    border-bottom:4px solid #8057d9;
    border-right:6px solid #0055ff;
    display: inline-block;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    padding: 24px 40px;
}
.container3{
    max-width: 1023px;
    color: #414651;
    background-color: #FFE8E8;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    padding: 24px 40px;
    margin-bottom: 30px;
}

.procent{
    color: #FF4405;
    font-size: 40px;
    font-weight: 400;
    text-decoration: underline;
    
}

.container4{
    max-width: 1069px;
    color: #0064CE;
    display: inline-block;
    border: 2px solid #3538CD;
    margin-bottom: 20px;
    padding: 24px 40px;
    font-size: 32px;
    font-weight: 400;
    text-align: right;
}
.discount{
    width: 556px;
    height: 347px;
    padding-top: 40px;
}